*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	margin: auto;
	padding: auto;
	color: red;
	background-color: gray;
}

.top-head{
	height: 70px;
	width: 100%
	color:white;
	border-radius: 5px;
	background-color: #ffddee;
}
.logo{
	padding:10px;
	padding-top: 5px;
	padding-left: 15px;
	height: 50px;
	width: 60px;
	color: white;
	background-color: red;
	float: left;
}
.logo h2{
	margin: 15px;
	margin-left: 20em;
	height: 50px;
	width: 350px;
	text-align: center;
	line-height: 25px
	color:red;

}
.social{
	height: 50px;
	width: 250px;
	color: white;
	background-color: red;
	float: right;
}